    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Attendance</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="static/functions.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="box-1">
                <img src="{{ url_for('video_feed') }}" alt="Camera Feed" class="camera-feed">
                <button class="start-btn">START</button>
            </div>
            <div class="box-2">
                <div class="top-section">
                    <div class="registered-image">
                        <img id="student-photo" src="/static/default-profile.png" alt="Student Image" class="student-photo">
                    </div>

                    <div class="student-name"></div>
                    <p class="normal-text">Name</p>

                    <div class="id-number"></div>
                    <p class="normal-text">ID Number</p>

                </div>
                <div class="bottom-section">
                    <button class="button register-btn">Register Student</button>
                    <button class="button" onclick="openExcel()">View Records</button>
                </div>
            </div>
        </div>
    </body>
    </html>